###################
# compiled source #
###################
*.o
*.layout
###############
# Directories #
###############
bin/
obj/
Obj/
######################
# Logs and databases #
######################
*.log
*.sqlite
