###################
# compiled source #
###################
*.o
*.layout
###############
# Directories #
###############
bin/
obj/
Obj/
Debug/
Release/
.vs/
######################
# Logs and databases #
######################
*.log
*.sqlite
*.opendb
######################
# Visual Studio      #
######################
*.vcxproj.user